.easy-term-popup {
    all: initial;
    position: fixed;
    top: 30px;
    right:30px;
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: solid;
    border-radius: 10px;
    padding: 25px;
    z-index: 10000;
    visibility: hidden;
}

.easy-term-popup h1 {
    font-size: 24px;
}

.batsu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
  }
   
  .batsu::before, .batsu::after { /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px; /* 棒の幅（太さ） */
    height: 30px; /* 棒の高さ */
    background: #333;
  }
   
  .batsu::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
   
  .batsu::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
