#easy-term-popup {
    all:initial;
    position: fixed;
    top: 30px;
    right:30px;
    width: 300px;
    height: 150px;
    overflow:scroll;
    background-color: #ffffff;
    border: solid;
    border-radius: 15px;
    padding: 25px;
    z-index: 10000;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Zen Maru Gothic', sans-serif ;
    font-weight: 400;
}

#easy-term-description-button {
  margin: 10px 0;
  /*margin-bottom :5px;*/
  font-family: 'Zen Maru Gothic', sans-serif ;
  border-radius:28px;
  border-width:1px ;
  border-color:#ffffff;
  background-color: #f1f1f1;
  color: darkgreen;
  font-size: small;
  font-weight: 500;
  padding:2px;
  position: relative; /* 現在の位置から */
  top: 10px; /* 上から~px移動 */
  left: -10px; /* 左から~px移動 */
}

#easy-term-detailed-description {
    all: initial;
    font-size: small;
    font-family: 'Zen Maru Gothic', sans-serif ;
    padding: 10px;
}


/*#easy-term-short-description {
  all: initial;
  font-family: 'Zen Maru Gothic', sans-serif ;
  padding: 5px;
}*/


#easy-term-popup h1 {
  all: initial;
    font-size: 18px;
    padding: 5px;
    padding-top: 20px;
    white-space: nowrap;
    top: 0;
    font-family: 'Zen Maru Gothic', sans-serif ;
    font-weight: bold;
    background-color: white;
    /*position: fixed;
    background-color: #ffffff;
    width: 300px;*/
}

#easy-term-header {
    all:initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 300px;
    box-sizing:border-box;
    top: 32px;
    background-color: #ffffff;
    z-index:20;
}

#easy-term-popup-cross {
    display: block;
    position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top: 33px;/*位置指定*/
    right: 29px;/*位置指定*/
    width: 30px;
    height: 20px;
  }
   
  #easy-term-popup-cross::before, #easy-term-popup-cross::after { /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px; /* 棒の幅（太さ） */
    height: 15px; /* 棒の高さ */
    background: #333;
    border-radius: 2.5px;
  }

  #easy-term-popup-cross::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
   
  #easy-term-popup-cross::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }

#easy-term-popup-all-description {
    top: 70px;
    display: block;
    position: absolute;
    z-index:10;
    width: 300px;
}
